header{
    width: 100vw;
    max-width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 0 80px;
    box-shadow: 0 10px 29px 0 #b5bd89;
    position: fixed;
    z-index: 100;
    top: 0;
}
.container-header{
    width: 100%;
    display: block;
    align-items: center;
}
.nav-header{
    display: flex;
    justify-content: flex-end;
}
.nav-menu{
    display: flex;
}
.nav-item{
    margin: 10px;
}
.nav-link{
    color: #729ea1;
    padding: 10px;
    border-radius: 100px;
    transition: 0,2s;
}
.nav-link:hover{
    color: #DB5375;
}
.nav-link:active{
    box-shadow:  0 0 10px 0 #DB5375;
}
.nav-link-contact{
    color:white;
    background-color: #DB5375;
    padding: 10px 30px;
}
.nav-link-contact:hover{
    color: white;
    background-color: #e67b96;
}
.nav-link-contact:active{
    background-color: #DB5375;
}
.menu-button-mobile{
    width: 40px;
    height: 40px;
    border: 1px solid #729ea1;
    border-radius: 8px;
    position: absolute;
    right: 20px;
    z-index: 8000;
    cursor: pointer;
    display: none;
}
.fa-bars{
    font-size: 20px;
    color: #729ea1;
}
/*here start header mobile*/
#container-header-mobile{
    width: 100%;
    height: 100%;
    max-width: 290px;
    background-color: whitesmoke;
    box-shadow: -10px 0 29px 0 #b5bd89;
    position: fixed;
    right: 0;
    padding: 50px 15px 15px;
    transform: translateX(100%);
    transition: 1s;
}
.close-menu-mobile{
    position:absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
}
.fa-times{
    color: #729ea1;
}
/* end header mobile */
/* Responsive */
@media screen and (max-width: 415px){
    header{
        height: 50px;
        padding: 0;
        justify-content: flex-end;
        display: none;
    }
    .container-header{
        display: none;
    }
    #container-header-mobile{
        box-shadow: none;
    }
}