main{
    width: 100vw;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
section{
    width: 100%;
    padding: 50px;
    display: flex;
}
/* 1st section - Intro about me */
.first-section{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-me{
    width: 60%;
    margin-left: 20px;
}
h1{
    font-size: 60px;
    font-weight: 900;
    color: #DB5375;
    margin-top: 0;
    margin-bottom: 20px;
}
.presentation{
    font-size: 30px;
    font-weight: 800;
    color: #729ea1;
    margin-top: 0;
    margin-bottom: 20px;
}
.my-description{
    font-size: 16px;
    font-weight: 400;
    color: #729ea1;
    margin-top: 0;
    margin-bottom: 30px;
}
.what-i-do{
    background-color: #DB5375;
    border-radius: 100px;
    width: 200px;
    padding: 15px 40px;
    color: #F5ECE0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-img{
    width: 40%;
    margin-right: 20px;
}
/* 2nd section - Skills */
.second-section{
    background: whitesmoke;
}
.container{
    width: 100%;
    padding-top: 35px;
    /* padding: 120px 100px 130px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    font-size: 45px;
    font-weight: 900;
    color: #729ea1;
    /* margin-top: 35px; */
    margin-bottom: 20px;
}
.intro{
    font-size: 16px;
    font-weight: 400;
    color: #729ea1;
    margin-bottom: 20px;
    max-width: 600px;
}
.icons-container{
    width: 600px;
    height: 400px;
    /* height: auto; */
    /* margin: 0 100px;
    padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 150px;
    height: 150px;
    border:none;
    border-radius: 10px;
    margin: 10px;
}
.icon:hover{
    border: 1px solid #729ea1;
}
/* 3th section - Middle page */
.third-section{
    padding: 150px 200px;
    background-color: #DB5375;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.comillas{
    width: 100px;
    margin-bottom: 70px;
}
.fhrase{
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 500px;
    margin-bottom: 60px;
}
.ada{
    font-size: 35px;
    font-weight: 800;
    color: white;
}
/* 4th section - Proyects */
/* .proyects container: use the same style of skills container (2nd section) */
.my-proyects{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.plan{
    width: 35%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f5ece0;
    border-radius: 10px;
    padding: 20px;
}
.front{
    width: 300px;
    margin-bottom: 30px;
}
.title-page{
    font-size: 20px;
    font-weight: 600;
    color: #ec9192;
    margin: 30px 0 20px;
}
/* 5th section - Contact me */
.fifth-section{
    background-color: whitesmoke;
}
.contact-container{
    width: 100%;
    /* margin: 150px 50px; */
    background-color: white;
    border: 1px solid #729ea1;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
}
.contact-subcontainer{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px 20px 20px;
    border: none;
    border-radius: 10px;
}
.contact-title{
    margin-bottom: 20px;
}
.list-container{
    margin: 10px 0;
}
.contact-item{
    display: block;
    margin: 10px 0;
}
.link-contact{
    font-size: 20px;
}
.social-icon{
    display: flex;
    padding: 7px;
    width: 35px;
    height: 35px;
    color: #DB5375;
    font-size: 20px;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #DB5375;
    border-radius: 50px;
    text-align: center;
}
.social-icon:hover{
    color: white;
    background-color: #DB5375;
}
.contact-link{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
    color: #ec9192;
}
form{
    width: 100%;
    display: block;
}
input, textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px;
}
.form-style{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.label{
    color: #729ea1;
    font-weight: 600;
    margin-bottom: 10px;
}
.name-lastname{
    display: flex;
}
.cell{
    flex-grow: 1;
    position: relative;
}
.send{
    font-size: 20px;
    padding: 5px 15px;
    background-color: #DB5375;
    color: white;
    border-radius: 100px;
    margin: 15px;
}
